.single-project-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.single-project-wrapper h3 {
  font-size: var(--fs-h3);
  padding: 0 0 40px;
}

.single-project-wrapper p {
  color: var(--gray-40);
  font-size: var(--fs-body2);
  padding: 0 0 40px;
}

.single-project-wrapper .skills-wrapper {
  padding: 0 0 20px;
}

.single-project-wrapper button {
  max-width: 70%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.single-project-wrapper > img {
  width: clamp(15rem, 30%, 40vw);
  height: auto;
}
