.projects-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

@media (min-width: 50em) {
  .projects-section-wrapper {
    padding: 3rem 6rem;
  }
}

.projects-section-wrapper > div {
  display: grid;
  gap: 3.5rem;
  margin: 40px auto;
  width: 100%;
}

.single-project-wrapper {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.single-project-wrapper h3 {
  font-size: var(--fs-h3);
  padding: 0 0 1.5rem;
}

.single-project-wrapper p {
  color: var(--gray-40);
  font-size: var(--fs-body2);
}

.single-project-wrapper .skills-wrapper {
  padding: 1.5rem 0;
}

.single-project-wrapper button {
  max-width: 70%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.single-project-wrapper > img {
  width: 100%;
  height: auto;
}
