:root {
    --black: hsl(0, 0%, 0%);
    --light-black: hsl(0, 0%, 30%);
    --light-opacity-black: hsla(0, 0%, 0%, 0.1);
    --green: hsl(145, 50%, 50%);
    --white: hsl(0, 100%, 100%);
    
    --fs-400: 0.8rem;
    --fs-600: 1.5rem;

    --fw-100: 100;
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
    --fw-800: 800;
    --fw-900: 900;
}

@media (min-width: 40em) {
    :root {
        --fs-400: 1.4rem;
        --fs-600: 2.5rem;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--fw-100);
    font-size: var(--fs-400);
    color: var(--light-black);
    background-color: var(--green);
    line-height: 1.7;
}

main { 
    background-color: var(--white);
    margin: 1em 1em auto;
    padding: 1em;
}

.header {
    margin: 2em auto;
}

#title {
    color: var(--black);
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-600);
    font-weight: var(--fw-800);
    line-height: 0.9;
}

hr {
    opacity: 0.4;
}

#survey-form {
    width: 100%;
    margin: 2em auto;
    background: linear-gradient(90deg, var(--white), var(--light-opacity-black));
}

.col25 {
    width: 100%;
    margin: 0.5em auto auto;
}

.col75 {
    width: 100%;
    margin: 0.5em auto;
}

@media (min-width: 40em) {
    main {
        width: 80%;
        margin: 2em auto;
    }

    #title {
        text-align: center;
    }

    #survey-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

input[type=text], input[type=email], input[type=number], select, #submit{
    width: 100%;
    padding: 0.5em 0.4em;
    outline: none;
}

input {
    accent-color: var(--green);
}

::placeholder {
    color: var(--light-black);
    opacity: 0.5;
}

.radioCheck {
    margin: 0.5em auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

fieldset label {
    float: left;
    margin: 0.5em;
}

textarea {
    width: 100%;
    resize: vertical;
}

#submit {
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);
    margin: 0.5em auto;
    padding: 1em 0.5em;
    transition: 300ms opacity ease-in-out;
}

#submit:hover {
    opacity: 0.8;
}

input[type=text], input[type=email], input[type=number], textarea, #submit {
    border-radius: 0.2em;
    border: transparent;
}

@media (min-width: 40em) {

    .radioCheck {
        display: flex;
        justify-content: space-between;
    }

    input[type=text], input[type=email], input[type=number], textarea{
        border: 0.01em solid;
    }

    #submit {
        width: 20%;
    }

    textarea {
        width: 100%;
        resize: horizontal;
    }
}