:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --black: hsl(0, 0%, 0%);
    --light-black: hsl(0, 0%, 0%, 0.75);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --transparent-black: rgba(0, 0, 0, 0.1);
    --white: hsl(0, 100%, 100%);

    --curvy-border: 0.5em;
    --circle: 50%;

    --fs-600: 1.2rem;
    /* --fs-600: clamp(1.5rem, 12vw + 1rem, 12rem); */
    --fs-500: 0.85rem;
    --fs-400: 0.6rem;
    --fs-300: 0.5rem;
    --fs-200: 0.3rem;

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-400: 400;
}

@media (min-width: 40em) {/*screen size is at least 40em wide*/
    :root {
        --fs-600: 1.7rem;
        --fs-500: 1.2rem;
        --fs-400: 0.7rem;
        --fs-300: 0.65rem;
        --fs-200: 0.4rem;
    }
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: var(--fs-400);
}

.container {
    width: 75%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, auto) 4fr;
    align-items: center;
    grid-template-areas:
    "nav-bar"
    "hr-line"
    "body-content";
    grid-gap: 1.5%;
}

.nav-bar {
    grid-area: nav-bar;
    margin: auto;
    width: 100%;
    max-height: 4em;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    align-items:center;
    grid-template-areas:
    "logo menu-items top-right";
}

.logo {
    grid-area: logo;
    max-width: 100%;
    height: auto;
    border-radius: 0;
}

.menu-items {
    grid-area: menu-items;
    max-width: 100%;
    height: 2em;
    font-weight: var(--fw-200);
    font-size: var(--fs-300);
    cursor: pointer;
    padding-left: 0;
    margin-left: 4em;
    margin-top: 1.5em;
}

.menu-items li {
    color: var(--light-black);
    display: inline-block;
    margin-right: 2em;
}

.menu-items li:hover {
    color: var(--black);
    box-shadow: 0 0.4em 0.1em -0.1em var(--orange);
    padding-bottom: 2.5em;
    animation: expand .1s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    100% {
        transform: scaleX(1.065);
    }
}

.top-right {
    grid-area: top-right;
    width: 40%;
    height: 100%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    grid-gap: 5%;
}

.cart-holder {
    width: 100%;
    position: relative;
    font-size: var(--fs-400);
    font-weight: var(--fw-100);
}

.cart-icon {
    cursor: pointer;
    max-width: 100%;
    width: 55%;
    height: auto;
}

.cart-icon:hover {
    filter: brightness(0);
}

.cart-counter {
    position: absolute;
    bottom: 70%;
    left: 30%;
    font-size: var(--fs-200);
    font-weight: var(--fw-100);
    background-color: var(--orange);
    color: white;
    border-radius: var(--circle);
    padding: 0.08em 0.15em;
    width: 30%;
    text-align: center;
}

.cart-popup {
    color: var(--very-dark-blue);
    font-size: var(--fs-400);
    display: grid;
    align-items: center;
    grid-template-rows: 1.5fr auto 4.5fr;
    grid-template-areas:
    "header"
    "hr-line"
    "cart-details";
    visibility: hidden;
    position: absolute;
    margin-top: 1.7em;
    margin-left: -8em;
    width: 21em; /* or 1000%; */
    height: 14em; /* or 900%; */
    z-index: 2;
    border: transparent;
    border-radius: var(--curvy-border);
    background-color: var(--white);
    box-shadow: 0 0.5em 1.6em -0.3em rgba(0, 0, 0, 0.5);
}

.cart-holder .show {
    visibility: visible;
    animation: cart-animation 1s;
}

@keyframes cart-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cart-header {
    grid-area: header;
    padding: 0.4em 1.4em;
    font-weight: var(--fw-800);
}

.cart-popup hr {
    grid-area: hr-line;
    width: 100%;
}

.cart-body-wrapper {
    grid-area: cart-details;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "cart-body"
    "checkout-btn";
    max-width: 100%;
    height: 80%;
    padding: 0 1.4em;
    color: var(--dark-grayish-blue);
}

.cart-body {
    grid-area: cart-body;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-thumbnail {
    max-width: 100%;
    width: 15%;
    height: auto;
}

.cart-details {
    color: var(--dark-grayish-blue);
    font-size: var(--fs-300);
    font-weight: var(--fw-100);
    line-height: 1.8;
    width: 70%;
}

.checkout-wrapper {
    display: flex;
    gap: 0.2em;
}

.total {
    color: var(--very-dark-blue);
    font-weight: var(--fw-800);
}

.delete-icon {
    width: 4.5%;
    border-radius: 0;
    cursor: pointer;
}

.checkout-btn {
    grid-area: checkout-btn;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: var(--curvy-border);
    max-width: 100%;
    width: 100%;
    height: 75%;
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    cursor: pointer;
}

.checkout-btn:hover {
    opacity: 0.75;
}

.profile-picture-wrapper {
    display: grid;
    align-items: center;
    width: 100%;
    cursor: pointer
}

.profile-picture {
    width: 65%;
    height: auto;
    border: 2px solid transparent;
    justify-self: end;
}

.profile-picture:hover {
    border: 2px solid var(--orange);
    border-radius: var(--circle);
}

hr {
    grid-area: hr-line;
    border: 0.1px solid var(--light-grayish-blue);
    width: 100%;
}

.body-content {
    grid-area: body-content;
    justify-self: center;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4em auto 1em;
}

img {
    border-radius: var(--curvy-border);
}

.light-box {
    display: grid;
    grid-template-rows: 50% 30%;
    grid-gap: 20%;
    grid-template-areas:
    "big-image"
    "gallery";
    width: 100%;
    height: 100%
}

.big-img-wrapper {
    grid-area: big-image;
    min-height: 70%;
    width: 70%;
}

.big-img {
    max-width: 100%;
    min-height: 70%;
    height: auto;
}

.gallery {
    grid-area: gallery;
    align-self: center;
    width: 70.5%;
    height: 45%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.small-size {
    max-width: 100%;
    width: 17%;
    height: auto;
    border: 2px solid transparent;
}

.small-size:hover {
    opacity: 0.75;
    cursor: pointer;
}

.small-size:focus {
    border: 2px solid var(--orange);
}

.content-copy {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "content-header"
    "product-copy"
    "price-wrapper"
    "quantity-wrapper";
    font-size: var(--fs-300);
    font-weight: var(--fw-100);
    color: var(--dark-grayish-blue);
    margin-left: -5em;
}

.content-header {
    grid-area: content-header;
    font-weight: var(--fw-700);
    line-height: 1.2;
}

.company-name {
    color: var(--orange);
    letter-spacing: 0.15em;
    margin-bottom: 1em;
}

.product-name {
    color: var(--very-dark-blue);
    font-size: var(--fs-600);
}

.product-copy {
    grid-area: product-copy;
    line-height: 1.6;
    width: 90%;
}

.price-wrapper {
    grid-area: price-wrapper;
}

.product-price {
    display: flex;
    align-items: center;
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color: var(--very-dark-blue);
    margin-bottom: 0.5em;
    max-width: 100%;
}

.product-price .discount {
    background-color: var(--pale-orange);
    color: var(--orange);
    border-radius: var(--curvy-border);
    font-size: var(--fs-400);
    font-weight: var(--fw-800);
    text-align: center;
    padding: 0.2em;
    width: 10%;
    margin-left: 1em;
}

.full-price {
    text-decoration: line-through;
    font-weight: var(--fw-700);
    color: var(--grayish-blue);
}

.quantity-wrapper {
    grid-area: quantity-wrapper;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%;
    width: 90%;
    height: 40%;
}

.quantity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: var(--curvy-border);
    font-weight: var(--fw-700);
    padding: 10px;
}

.add-remove {
    cursor: pointer;
}

.add-remove:hover {
    opacity: 0.75;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    border-radius: var(--curvy-border);
    border: transparent;
    color: var(--white);
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    text-align: center;
    padding: 0.1em;
    cursor: pointer;
}

.quantity-wrapper button img {
    filter: brightness(0) invert(1);
    max-width: 100%;
    width: 7%;
    height: auto;
    margin-right: 0.7em;
}

.quantity-wrapper button:hover {
    opacity: 0.75;
}