:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --fs-300: 0.5rem;
    --fs-400: 1rem;
    --fs-xl: 4rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --br-300: 0.2em;
}

body { 
    font-family: 'Public Sans', sans-serif;
    font-size: var(--fs-400);
    color: var(--grayish-blue);
}

nav {
    /* border: solid purple; */
    position: relative;
    width: 90%;
    height: 2em;
    margin: 1em auto auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo hamburger";
    align-items: center;
}

#logo {
    grid-area: logo;
    /* align-self: end; */
}

#hamburger {
    grid-area: hamburger;
    /* align-self: center; */
    justify-self: right;
    cursor: pointer;
    /* transition: all cubic-bezier(0.4, 0, 1, 1) 200ms 500ms; */
}

.nav-list {
    display: none;
}

.nav-list.show { 
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 4em;
    width: 100%;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    /* background-color: var(--bright-cyan); */
    background-color: var(--white);
    border: transparent;
    border-radius: var(--br-300);
    transition: all cubic-bezier(0.4, 0, 1, 1) 500ms;
}

.nav-list li {/*stopped here*/
    margin: 1.5em 0.5em;
    /* box-sizing: border-box; */
    /* float: left; */
}

.nav-list li a {
    text-decoration: none;
    color: var(--dark-blue);
    box-sizing: border-box;
    /* font-weight: var(--fw-700); */
}

#nav-quote {
    display: none;
}

@media (min-width: 40em) {
    
    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger {
        display: none;
    }

    .nav-list {
        display: flex;
        list-style: none;
    }

    .nav-list li {
        float: left;
        /* padding: 0.5em; */
        /* border: transparent;
        transition: box-shadow ease 300ms; */
    }

    .nav-list li a {
        color: var(--grayish-blue);
        padding: 0.5em;
        border: transparent;
        transition-property: box-shadow, color;
        transition-timing-function: ease;
        transition-duration: 300ms;
    }

    .nav-list li a:hover{
        color: var(--dark-blue);
        box-shadow: 0em 0.3em 0em 0em var(--lime-green);
        /* border-bottom: solid 0.3em var(--lime-green); */
    }

    #nav-quote {
        display: block;
    }
}