:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --fs-300: 0.83rem;
    --fs-400: 1rem;
    --fs-600: 1.75rem;
    --fs-xl: 2rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --br-300: 0.2em;
    --br-600: 2em;
}

@media (min-width: 40em) {
    :root {
        --fs-300: 0.75rem;
        --fs-400: 0.8rem;
        --fs-xl: 2.7rem;
    }

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-200);
    color: var(--grayish-blue);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "main"
    "footer"; */
}

header {
    /* grid-area: header; */
    grid-area: 1/1/1/-1;
}

nav {
    /* border: solid purple; */
    position: relative;
    /* width: 90%; */
    margin: 1em 1.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "logo hamburger";
    align-items: center;
}

#logo {
    grid-area: logo;
}

#hamburger {
    grid-area: hamburger;
    justify-self: right;
    cursor: pointer;
    /* transition: all cubic-bezier(0.4, 0, 1, 1) 200ms 500ms; */
}

.nav-list {
    /* border: solid pink; */
    display: none;
    padding: 0;
}

.nav-list li {
    /* border: solid pink; */
    margin: 1.5em 1em;
    box-sizing: border-box;
}

.hyper-links {
    text-decoration: none;
    box-sizing: border-box;
}

#nav-invite-btn {
    display: none;
}

.request-invite {
    background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
    border: transparent;
    min-width: 10%;
    height: 3em;
    font-size: var(--fs-300);
    padding: 0.7em;
    border-radius: var(--br-600);
    transition: opacity ease 300ms;
}

.request-invite:hover {
    opacity: 0.75;
    cursor: pointer;
}

.request-invite .hyper-links {
    color: var(--white);
}

.nav-list.show {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 4em;
    width: 100%;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    /* background-color: var(--bright-cyan); */
    background-color: var(--white);
    border: transparent;
    border-radius: var(--br-300);
    /* transition: all cubic-bezier(0.4, 0, 1, 1) 500ms; */
}

.nav-list .hyper-links {
    color: var(--dark-blue);
    /* box-sizing: border-box; */
    /* font-weight: var(--fw-700); */
}

@media (min-width: 40em) {
    header {
        margin: auto 12em;
        display: flex;
        justify-content: space-between;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    .nav-list.show {
        position: static;
        top: 0;
        margin-left: 29em;
    }

    .nav-list {
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav-list li {
        float: left;
    }

    .nav-list .hyper-links {
        color: var(--grayish-blue);
        padding-bottom: 1em;
        /* border: solid saddlebrown; */
        border: transparent;
        transition-property: box-shadow, color;
        transition-timing-function: ease;
        transition-duration: 300ms;
    }

    .nav-list li a:hover{
        color: var(--dark-blue);
        box-shadow: 0em 0.3em 0em 0em var(--lime-green);
    }

    #nav-invite-btn {
        display: block;
        width: 12%;
    }
}

main {
    /* border: solid purple; */
    /* grid-area: main; */
    grid-area: 2/1/2/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "top-segment"
    "middle-segment"
    "bottom-segment";
    width: 100%;
}

/* mobileview - set margin, color & thickness of header elements */
h1, h2, h3 {
    margin: 1em 0.7em 0.5em;
    color: var(--dark-blue);
    font-weight: var(--fw-200);
}

p {
    line-height: 1.8;
    font-size: var(--fs-300);
}

#top-segment { 
    /* border: solid purple; */
    grid-area: top-segment;
    grid-column: 1 / -1;
    background-image: url(./images/image-mockups.png),url(./images/bg-intro-mobile.svg), linear-gradient(var(--very-light-gray), var(--white));
    background-repeat: no-repeat;
    background-size: 92% auto, 100%, cover;
    background-position: top -42% center, top -22% center, center;
    margin: 0 auto;
    background-color: transparent;
    /* height: 15em; */
}

/* mobile & web view - set content-wrapper to grid */
.content-wrapper {
    margin: 18em auto 3em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* set font-size of h1 element */
h1 {
    font-size: var(--fs-xl);
}

#top-request-btn { 
    grid-column: 4 / 10; 
    font-weight: var(--fw-700);
    /* margin: 0.5em auto; */
}

/* for webview */
@media (min-width: 40em) {
/*set margin of header elements */
    h1, h2, h3 {
        margin: 1em 0;
    }

/* create grid in segment class */
    .segment {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #top-segment { 
        /* border: solid pink; */
        grid-row-end: middle-segment start;
        margin: 0;
        padding: auto 5em 15em;
        background-image: url(./images/image-mockups.png), url(./images/bg-intro-desktop.svg), linear-gradient(var(--very-light-gray) 90%, var(--white) 10%);
        background-repeat: no-repeat;
        background-size: 42% auto, 63% auto, cover;
        background-position: top 30% right -12%, bottom 30% right -21%; 
        /* z-index: 1; */
    }

/* set content-wrapper margin */
    .content-wrapper {
        grid-column: 1 / 9; 
        margin: 8em 0 auto 12em;   
    }

/* set margin & create grids in .narrative-wrapper */
    .narrative-wrapper {
        /* width: 100%; */
        margin: auto 2em auto 0;
        /* text-align: left; */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    /* .content {
        grid-column: span 5;
    } */

/* make all items in .narrative-wrapper of #top-segment span 8 columns */
    #top-segment .narrative-wrapper * { /*stopped here*/
        grid-column: 1 / span 6;
    }

/* make all #top-request-btn span 3 columns */
    #top-request-btn {
        grid-column: 1 / span 2;
        /* width: 13%; */
    }
}

#middle-segment { 
    border: solid pink;
    grid-area: middle-segment;
    grid-column: 1 / -1;
    margin: 0;
    background-color: var(--very-light-gray);
}

#middle-segment .content-wrapper {
    margin: 3em auto;
}

/* set font-size on h2 of benefit segment */
#middle-segment h2 {
    font-size: var(--fs-600);
}

.benefits {
    display: grid;
    grid-template-columns: repeat(12, auto);
}

.icon-wrapper {
    grid-column: 6 / span 2;
}

.narrative-wrapper { 
    grid-column: 1 / -1;
    text-align: center;
    margin: auto 1em 1em;
}

@media (min-width: 40em) {
    #middle-segment .content-wrapper {
        margin: auto 12em;
    }

    .benefits-wrapper {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-evenly;
        margin: auto 12em;
    }

    .benefits {
        margin: auto 1em auto 0;
    }

    .icon-wrapper {
        grid-column: span 2;
    }

    .narrative-wrapper {
        margin: auto 2em auto 0;
        text-align: left;
        /* grid-column: 1 / span 2; */
    }

    #middle-segment .narrative-wrapper * {
        grid-column: 1 / span 12;
    }
    
}

/* #middle-segment { 
    border: solid pink;
    grid-area: middle-segment;
    grid-column: 1 / -1;
    margin: 0;
    background-image: url(./images/image-mockups.png), linear-gradient(var(--very-light-gray)); 
    background-repeat: no-repeat;
    background-size: 42% auto, cover;
    background-position: top 30% right -12%, center;
} */

footer { 
    /* grid-area: footer; */
    grid-area: 3/1/3/-1;
}