:root {
    --green: hsl(120, 40%, 21%);
    --light-gray: hsl(0, 0%, 85%);
    --white: hsl(0, 100%, 100%);

    --fs-xl: clamp(1.1rem, 3.5vw + 1rem, 3.5rem);
    --fs-600: 1rem;
    --fs-400: 0.55rem;

    --fw-800: 800;
    --fw-600: 600;
    --fw-100: 100;
}

@media (min-width: 700px) {
    :root {
        --fs-600: 2rem;
        --fs-400: 1rem;
    }
}

#main {
    /* font-family: 'JetBrains Mono', monospace; */
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-100);
    background-color: var(--light-gray);
    max-width: 100%;
}

header {
    font-family: 'Nosifer', cursive;
    text-align: center;
}

#title { 
    /* border: solid blue; */
    color: var(--green);
    max-width: 100%;
    font-size: var(--fs-xl);
}

#sub-head {
    /* border: solid pink; */
    margin-top: -1.5em;
    text-transform: uppercase;
}

#img-div {
    /* border: solid pink; */
    background-color: var(--white);
    max-width: 100%;
    height: auto;
    padding-bottom: 1em;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

#image {
    /* border: solid purple; */
    max-width: 100%;
    width: 50%;
    height: auto;
    margin: 2em auto;
    filter: grayscale(50%);
}

#img-div img:hover {
    animation: expand .9s;
    animation-fill-mode: both;
    cursor: pointer;    
}

@keyframes expand {
    100% {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}

#img-caption {
    /* margin: 2em auto; */
}

#tribute-info { /*stopped here*/
    text-align: center;
}