:root {
    --green: hsl(120, 40%, 21%);
    --red: hsl(0, 100%, 40%);
    --light-gray: hsl(0, 0%, 95%);
    --white: hsl(0, 100%, 100%);

    --fs-xl: clamp(1.1rem, 3.5vw + 1rem, 3.5rem);
    --fs-600: 1rem;
    --fs-400: 0.8rem;

    --fw-800: 800;
    --fw-600: 600;
    --fw-100: 100;
}

@media (min-width: 40em) {
    :root {
        --fs-600: 2rem;
        --fs-400: 1rem;
    }
}

#main {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-100);
    background-color: var(--light-gray);
    max-width: 100%;
    text-align: center;
}

header {
    font-family: 'Nosifer', cursive;
}

#title { 
    color: var(--green);
    max-width: 100%;
    font-size: var(--fs-xl);
}

.sub-head {
    font-family: 'Nosifer', cursive;
    margin-top: -1.5em;
    text-transform: uppercase;
    color: var(--red);
}

#img-div {
    background-color: var(--white);
    max-width: 100%;
    height: auto;
    padding-bottom: 1em;
}

#image {
    max-width: 100%;
    height: auto;
    margin: 2em auto;
    filter: grayscale(50%);
}

@media (min-width: 40em) {
    #image {
        width: 60%;
    }
}

#img-div img:hover {
    animation: expand .9s;
    animation-fill-mode: both;
    cursor: pointer;    
}

@keyframes expand {
    100% {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}

#img-caption {
    text-align: center;
    font-weight: var(--fw-100);
}

#tribute-info {
    min-width: 60%;
}

#timeline {
    margin: auto;
}

@media (min-width: 40em) {
    #timeline {
        width: 60%;
    }
}

.list-timeline {
    list-style-position: inside;
    text-align: left;
}

.list-timeline li {
    margin: 0 auto 0.7em;
    line-height: 1.7;
}

blockquote {
    text-align: left;
    font-style: italic;
    margin: 2em 0;
}