/*
 * ──────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: G L O B A L   V A R I A B L E S : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────────
 */

:root {
    /* NOTE: border-radius */
    --br-300: 0.2em;
    --br-600: 3em;
    --br-circle: 50%;

    /* NOTE: color */
    --black: hsl(0, 20%, 10%);
    --bright-gray: hsl(0, 0%, 91%);
    --bright-green: hsl(130, 75%, 51%);
    --bright-red: hsl(1, 75%, 51%);
    --carmine-orange: hsl(13, 84%, 43%);
    --cultured: hsl(0, 0%, 96%);
    --dark-blue: hsl(220, 36%, 34%);
    --dark-gray: hsl(0, 0%, 15%);
    --dull-green: hsl(130, 55%, 51%);
    --dull-red: hsl(1, 55%, 51%);
    --gray: hsl(0, 0%, 30%);
    --grayish-blue: hsl(233, 20%, 30%);
    --light-bright-cyan: hsl(192, 70%, 61%);
    --light-gray: hsl(0, 0%, 98%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --light-lime-green: hsl(136, 65%, 61%);
    --light-lotion: hsl(0, 0%, 97%) ;
    --lotion: hsl(0, 0%, 99%);
    --medium-gray: hsl(0, 0%, 90%);
    --white: hsl(0, 0%, 100%);

    /* NOTE: font-size */
    --fs-100: 0.6rem;
    --fs-200: 0.7rem;
    --fs-300: 1.2rem;
    --fs-400: 1.3rem;
    --fs-500: 1.6rem;
    --fs-600: 2.1rem;
    --fs-xl: 2rem;
    
    /* NOTE: font-weight */
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    /* NOTE: margin */
    --center-margin: 0 auto;
    --mar-100: 1em;
    --mar-200: 2em;

    /* NOTE: padding */
    --pad-100: 1em;
    --pad-200: 2em;
    
    /* NOTE: transition */
    --ease-transition: 300ms ease;
}

/*
 * ────────────────────────────────────────────────────────────────────────── II ──────────
 *   :::::: D E B U G G I N G   S E C T I O N : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────────────
 */
.red-solid {
    border: solid red;
}

.green-solid {
    border: solid green;
}


/*
 * ────────────────────────────────────────────────────────────────── III ──────────
 *   :::::: G L O B A L   S T Y L E S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────
 */


/* NOTE: whitespace reset + box-sizing on all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cultured);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: var(--fs-600);
}

.container {
    font-size: var(--fs-400);
    width: 1200px;
    max-width: 100%;
    margin: var(--center-margin);
}

.table-wrapper {
    background-color: var(--white);
    border-radius: var(--br-300);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: var(--grayish-blue);
    margin: calc(var(--mar-200) * 2) var(--mar-100);
    overflow-x: auto;
    white-space: nowrap;
}

/* STUB: remove the horizontal scrollbar*/
.table-wrapper::-webkit-scrollbar {
    display: none;
}

header {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: var(--pad-200);
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

.grid-display > * {
    grid-column: span 12;
}

.capitalize {
    text-transform: capitalize;
}

a {
    color: var(--white);
    text-decoration: none;
}

/*
 * ────────────────────────────────────────────────────────────────── IV ──────────
 *   :::::: B U T T O N   S T Y L E S : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────
 */

/* NOTE: button styles */

.btn {
    color: var(--white);
    border: transparent;
    border-radius: var(--br-300);
    cursor: pointer;
    margin: auto auto var(--mar-100) var(--mar-100);
    min-width: 1em;
    padding: var(--pad-100);
}

.float {
    float: left;
}

.btn-success {
    background-color: var(--dull-green);
    transition: background-color var(--ease-transition);
}

.btn-success:hover {
    background-color: var(--bright-green);
}

.btn-danger {
    background-color: var(--dull-red);
    transition: background-color var(--ease-transition);
}

.btn-danger:hover { 
    background-color: var(--bright-red);
}

.btn-cancel {
    background-color: var(--white);
    color: var(--black);
    transition: background-color var(--ease-transition), color var(--ease-transition);
}

.btn-cancel:hover {
    background-color: var(--black);
    color: var(--white);
}

/*
 * ──────────────────────────────────────────────────────────────── VI ──────────
 *   :::::: T A B L E   S T Y L E S : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────
 */

/* NOTE: table styles */
table {
    border-collapse: collapse;
    font-size: var(--fs-400);
    margin: var(--mar-100) auto;
    padding: var(--pad-100);
}

table thead tr {
    border-bottom: 4px solid var(--bright-gray);
}

table tbody tr:nth-of-type(odd) {
    background-color: var(--lotion);
}

table tbody tr {
    border-top: 2px solid var(--bright-gray);
    transition: background-color var(--ease-transition);
}

table tbody tr:hover {
    background-color: var(--cultured);
}

th {
    padding: var(--pad-100);
}

td {
    padding: var(--pad-200);
}

table input[type="checkbox"] {
    transform: scale(2);
}

/*
 * ──────────────────────────────────────────────────────────────────────────────────────── VII ──────────
 *   :::::: P A G E   N A V I G A T I O N   S T Y L E S : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────────────────────────
 */

/* NOTE: page navigation styles */
.pagination-wrapper {
    margin: var(--mar-100) auto;
    padding: var(--pad-200);
}

.hint-text {
    text-align: center;
}

ul {
    list-style-type: none;
}

.pagination {
    font-size: var(--fs-300);
    gap: 0;
    grid-template-columns: repeat(12, auto);
    margin: var(--mar-100) auto;
}

.pagination > * {
    grid-column: auto;
}

.page-link {
    color: var(--gray);
    padding: var(--pad-100);
    transition: color var(--ease-transition), background-color var(--ease-transition), padding var(--ease-transition);
}

.page-link:hover {
    background-color: var(--medium-gray);
    color: var(--dark-gray);
}

.page-link:focus {
    background-color: var(--light-bright-cyan);
    border-radius: var(--br-300);
    color: var(--white);
}

/*
 * ──────────────────────────────────────────────────────────────── VIII ──────────
 *   :::::: M O D A L   S T Y L E S : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────
 */

/* NOTE: modal styles */

.modal {
    background-color: var(--lotion);
    border: transparent;
    border-radius: var(--br-300);
    box-shadow: 0 0 1em rgba(0 0 0 .05);
    margin: var(--mar-200) auto;
    padding: var(--pad-100) var(--pad-200);
    max-width: 50ch;
}

@media (min-width: 1024px) {
    .modal {
        width: 40%;
    }
}
/* TODO: stopped here
    add transition to modal popup */
    
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    margin: var(--mar-100) 0 var(--mar-200);
}

.modal-header > * {
    color: var(--dark-gray);
    font-size: var(--fs-500);
}

.modal-header > .close {
    background-color: inherit;
    border-radius: var(--br-circle);
    color: var(--dull-red);
    font-weight: var(--fw-700);
    margin: 0;
    padding: 0;
    transform: scale(1.5);
    transition: color var(--ease-transition);
}

.modal-header > .close:hover {
    color: var(--bright-red);
}

.modal-body {
    gap: 0;
    margin: var(--mar-100) 0;
}

fieldset {
    border: medium none;
    margin: 0 0 var(--mar-100);
    min-width: 100%;
    width: 100%;
}

.modal input[type="text"], input[type="email"], button {
    font-family: "Lato", sans-serif;
    font-size: var(--fs-400);
}

.modal input[type="text"], input[type="email"] {
    border: 0.1em solid var(--grayish-blue);
    margin: 0 auto;
    padding: var(--pad-100);
    transition: border var(--ease-transition);
    width: 100%;
}

.modal input[type="text"]:hover, input[type="email"]:hover {
    border: 0.1em solid var(--dark-blue);
}

.modal input[type="text"]:focus, input[type="email"]:focus {
    outline: 0;
    border: 0.1em solid var(--light-bright-cyan);
}

.modal button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.modal-body > .text-warning {
    color: var(--carmine-orange);
    margin-top: var(--mar-100);
}

.modal-footer {
    background-color: var(--light-lotion);
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    padding: var(--pad-100);
}

.modal-footer > .btn {
    margin: 0;
}