.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fw-800);
  padding: 2em 4em;
  text-transform: uppercase;
}

.header-text {
  font-size: var(--fs-btn);
  letter-spacing: 0.2em;
  padding-left: 0.5em;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.navlinks-list-desktop {
  display: none;
}

.navlinks-list-mobile .navlinks-list {
  display: none;
}

.navlinks-list-mobile:focus-within .navlinks-list {
  display: flex;
}

.navlinks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

@media (min-width: 50em) {
  .navlinks-list-mobile {
    display: none;
  }

  .navlinks-list-desktop {
    display: block;
  }

  .navlinks-list {
    flex-direction: row;
  }
}

.navlinks-list li {
  font-size: var(--fs-btn);
}

.navlinks-list li a {
  color: var(--ash);
  padding: 1.6rem 2rem;
  text-decoration: none;
}

.navlinks-list li a:focus {
  color: var(--yellow);
}
