:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    font-family: 'Manrope', sans-serif;

    --fw-700: 700;
    --fw-400: 400;
    --fw-200: 200;

    --fs-600: 1.35rem;
    --fs-400: 0.6rem;

    --curvy-border: 0.5em;
    --circle: 50%;
}

@media (min-width: 40em) {
    :root {
        --fs-600: 1.4rem;
        --fs-400: 0.6rem;
    }
}

body {
    background-color: var(--dark-blue);
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
}

.main-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: rows;
    gap: 5%;
    grid-template-areas: 
    "header"
    "main-content"
    "divider";
    justify-items: center;
    width: 80%;
    margin: 45% auto 30%;
    padding: 1.7em 1em 3em;
    border-radius: var(--curvy-border);
    background-color: var(--dark-grayish-blue);
}

@media (min-width: 40em) {
    .main-container {
        max-width: 30%;
        margin: 10% auto;
        padding: 1.7em 2em 3em;
    }
}

.advice-header { 
    grid-area: header;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-bottom: 1em;
}

.advice-content {
    grid-area: main-content;
    color: var(--light-cyan);
    max-width: 100%;
    text-align: center;
    line-height: 1.7;
}

.divider-wrapper {
    grid-area: divider;
    max-width: 100%;
}

.divider-wrapper img {
    max-width: 100%;
}

.dice-wrapper {
    position: absolute;
    bottom: -1.3em;
    border-radius: var(--circle);
    background-color: var(--neon-green);
    padding: 0.8em;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 40em) {
    .dice-wrapper {
        bottom: -1.1em;
        width: 4%;
        padding: 0.7em;
    }
}

.dice-wrapper:focus { 
    box-shadow: 0px 0px 20px 8px #00A854;
}

#dice-icon {
    max-width: 100%;
    height: auto;
    transition-duration: 400ms;
    transition-property: transform;
    transition-timing-function: ease-out;
}

#dice-icon:active {
    transform: rotate(360deg);
}
