/* CSS
1. Style bg as black color; advice text + dice container bg color as green color
2. Main container will hold every item in desktop mode @ 60% screen width, same for mobile view, but container size @ ~90% screen width. Set main container display: grid + 4 rows */

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    font-family: 'Manrope', sans-serif;

    --fw-800: 800;
    --fw-400: 400;
    --fw-200: 200;

    --fs-600: 1.1rem;
    --fs-400: 0.6rem;

    --curvy-border: 0.5em;
    --circle: 50%;
}

@media (max-width: 375px) {
    :root {
        --fs-600: 1.5rem;
        --fs-400: 0.5rem;
    }
}

body {
    background-color: var(--dark-blue);
    font-size: var(--fs-600);
    font-weight: var(--fw-800);
}

.main-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: rows;
    gap: 10%;
    grid-template-areas: 
    "header"
    "main-content"
    "divider"
    "dice-circle";
    justify-items: center;
    max-width: 25%;
    margin: 15% auto;
    padding: 2em;
    border-radius: var(--curvy-border);
    background-color: var(--dark-grayish-blue);
}

/* .content-wrapper {
    width: 50%;
    border-radius: var(--curvy-border);
    background-color: var(--dark-grayish-blue);
} */

@media (max-width: 375px) {
    .main-container {
        max-width: 90%;
    }
    /* .content-wrapper {
        width: 90%;
    } */
}

.advice-header { 
    grid-area: header;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.advice-content {
    grid-area: main-content;
    color: var(--light-cyan);
    max-width: 100%;
    white-space: normal;
    text-align: center;
}

.divider-wrapper {
    grid-area: divider;
    max-width: 100%;
}

.divider-wrapper img {
    max-width: 100%;
}

.dice-wrapper {
    grid-area: dice-circle;
    border-radius: var(--circle);
    background-color: var(--neon-green);
    /* margin-top: 2em; */
    padding: 0.6em;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-wrapper img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.dice-wrapper:focus { /*stopped here*/
    box-shadow: 0px 0px 20px 8px #00A854;
}