.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
  height: 100vh;
}

.article {
  padding: 0 1rem 3rem;
  text-align: center;
}

.article h1 {
  font-size: var(--fs-h1);
  padding-bottom: 2.5rem;
}

.article p {
  font-size: var(--fs-p);
  line-height: 1.6;
}

.hero-section-wrapper button {
  max-width: 60%;
}
